h1 
{
    color: #e0e0e0;
    font-family: "Main Font", Verdana, Tahoma;
    text-align: center;
    font-size: 320px;
}
html 
{
    min-width: 100vw;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(99vh);
	scroll-snap-type: y mandatory;
	padding: 0;
    margin: 0;
}
body 
{
    overflow-x: hidden;
    min-width: 100vw;
    background-color: #cccccc;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
.topnav {
  background-color: #142362;
  overflow: hidden;
  padding: 3vh;
}
.layout {
    text-align: center;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Heebo';
  font-weight: 100;
}
@font-face {
    font-family: 'Heebo'; /*a name to be used later*/
    src: url('https://akamas1337.github.io/Heebo-VariableFont_wght.ttf'); /*URL to font*/
}

/* Change the color of links on hover */
.topnav a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.topnav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#scrollPoint
{
    scroll-snap-align: start;
}
#topHeader
{
    top: 0vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    /*background-image: url("header.png");*/
    height:100vh;
    width:100vw;
}
#backgroundVid
{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    object-fit: fill;
}
#rocket
{
	font-family: "Main Font", Verdana, Tahoma;
	font-size: 34px;
    margin-left: 45vw;
    margin-top: 250px;
    z-index: 2;
    position: absolute;
    right: 2vw;
}
#section2
{
    min-width: 100vw;
    background-color: #FFFFFF;
    margin-top: -5px;
    height: 100vh;
}
#section3
{
    min-width: 100vw;
    scroll-snap-align: start;
    background-color: #969696;
    margin-top: -5px;
    height: 100vh;
}
#section4
{
    min-width: 100vw;
    scroll-snap-align: start;
    background-color: #1c2c72;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#section5
{
    min-width: 100vw;
    scroll-snap-align: start;
    background-color: #0f1c57;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#mainText
{
    font-size: 82px;
    font-family: 'Heebo';
    font-weight: 150;
    color: #fff;
    left: 5vw;
    position: relative;
}
#descText
{
    font-size: 42px;
    font-family: 'Heebo';
    font-weight: 150;
    color: #fff;
    left: 35vw;
    position: absolute;
}
#descText2
{
    font-size: 42px;
    font-family: 'Heebo';
    font-weight: 150;
    color: #fff;
    right: 40vw;
    position: absolute;
}
#desc
{
    word-break: break-word;
    overflow-x: hidden;
    font-size: 20px;
    font-family: 'Heebo';
    font-weight: 150;
    color: #c8c8c8;
    left: 35vw;
    position: relative;
    margin-right: 40vw;
    top: 5vh;
}
#desc2
{
    word-break: break-word;
    overflow-x: hidden;
    font-size: 20px;
    font-family: 'Heebo';
    font-weight: 150;
    color: #c8c8c8;
    left: 35vw;
    position: relative;
    margin-right: 40vw;
    top: 5vh;
    text-align: right;
}
#work
{
    position: relative;
    height: 33.333%;
    width: 100vw;
    overflow: hidden;
}
#mockup
{
    height: 100%;
    position: absolute;
    left: 10vw;
}
#mockup2
{
    height: 100%;
    position: absolute;
    right: 10vw;
}
#topScroll
{
    scroll-snap-align: start;
}
#footer
{
    position:absolute;
    right:50vw;
    background-color: #262626;
}
#centerText
{
    font-size: 50px;
    font-family: 'Heebo';
    font-weight: 150;
    color: #fff;
    position: relative;
    text-align: center;
}
#centerSubText
{
    font-size: 25px;
    font-family: 'Heebo';
    font-weight: 150;
    color: #fff;
    position: relative;
    text-align: center;
}
#leftText
{
    font-size: 50px;
    font-family: 'Heebo';
    font-weight: 400;
    color: #fff;
    position: relative;
    top: 5vw;
    text-align: center;
    left: 5vw;
}
rightTextBold
{
    font-size: 30px;
    font-family: 'Heebo';
    font-weight: 400;
    color: #fff;
    position: relative;
    top: 5vw;
    text-align: center;
}
rightText
{
    font-size: 20px;
    font-family: 'Heebo';
    font-weight: 300;
    color: #fff;
    position: relative;
    top: 3vw;
    text-align: center;
}
div
{
    word-break: break-word;
    overflow-x: hidden;
}
p
{
    word-break: break-word;
    overflow-x: hidden;
}
footer
{
    position:relative;
    background-color: #262626;
    height: 15vh;
}

